@import url(https://fonts.googleapis.com/css?family=Mr+Dafoe);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:900);

@import "variables";

.dreams {
    position: relative;
    margin: 0px;
    font-family: 'Mr Dafoe', cursive;
    font-size: 55px;
    color: $pink_light;
    transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    margin-top: -45px;
    margin-left: 180px;
    -webkit-text-stroke: 1px $pink;
    -webkit-filter: drop-shadow(2px 2px 20px $pink);
    z-index: 20;
}

.logo {
    position: relative;
    background-image: -webkit-linear-gradient($purple_dark 30%, $purple_light 45%, $white 55%, $purple_dark 60%, $pink 70%, $white 95%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px $white;
    font-size: 100px;
    font-family: 'Titillium Web', sans-serif;
    font-style: italic;
    margin: 0;
    line-height: 1;
    padding-right: 20px;

    &:before {
        content: 'RETRO';
        position: absolute;
        left: 0;
        top: 0;
        z-index: 10;
        background-image: -webkit-linear-gradient(-40deg, transparent 0%, transparent 40%, $white 50%, transparent 60%, transparent 100%);
        background-position: -680px 0;
        -webkit-background-clip: text;
        -webkit-text-stroke: 0;
        padding-right: 80px;
        -webkit-animation-name: chrome_effect;
        -webkit-animation-duration: 5s;
        -webkit-animation-delay: 0s;
        -webkit-animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
    }
}

@-webkit-keyframes chrome_effect {
    0% {
        background-position: -180px 0;
    }

    10% {
        background-position: 150px 0;
    }

    100% {
        background-position: 150px 0;
    }
}


/* Desktop styles*/

@media screen and (min-width: 768px) {
    .dreams {
        font-size: 85px;
        margin-top: -65px;
        margin-left: 240px;
    }

    .logo {
        font-size: 150px;

        &:before {
            padding-right: 160px;
        }
    }

    @-webkit-keyframes chrome_effect {
        0% {
            background-position: -180px 0;
        }

        10% {
            background-position: 220px 0;
        }

        100% {
            background-position: 220px 0;
        }
    }
}