$background_container:#1D1F24;
$background_main:#1a1b1f;
$black: rgb(0, 0, 0);
$pink: #f008b7;
$pink_light:#F975F7;
$purple:#5b0680;
$purple_hover:#4a0468;
$purple_light:rgb(118, 28, 236);
$purple_dark:#20004B;
$shadow:rgba(0, 0, 0, 0.486);
$white: #fff;