a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: white;
    text-decoration: none;
}

.artist-name {
    color: rgb(185, 185, 185);
}

.audio-container {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
}

.audio-player {
    width: 100%;
    height: 100%;
}

.app {
    background: #1a1b1f;
}

.custom-btn {
    border-radius: 0px 3px 3px 0px;
    -webkit-border-radius: 0px 3px 3px 0px;
    -moz-border-radius: 0px 3px 3px 0px;
    -ms-border-radius: 0px 3px 3px 0px;
    -o-border-radius: 0px 3px 3px 0px;
    background-color: #62058a;
    border-color:#62058a;
}

.custom-btn:hover{
    background-color: #480166;
    border-color:#480166;
}

.container {
    background: #1D1F24;
    padding: 0px;
}

.cta-sub-title,
.cta-title {
    color: white;
    width: 100%;
    text-align: center;
    height: auto;
}

.cta-container {}

.cta-sub-title {}

.cta-title {
    font-size: 2.2rem;
}

.fa-play {
    margin-left: 3px;
}

.fa-heart,
.fa-ellipsis-h {
    margin-right: 10px;
}

.grid{
    padding:0px 9px;
}

.header {
    background-image: url("./assets/headerbackground.jpg");
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    height: 40vh;
}

.input-search {
    width: 100%;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}


.music-item {
    width: 160px;
    color: white;
    transition: 0.25s;
}

.music-item-container {
    margin-bottom: 25px;
}

.music-item-image-container {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    width: 140px;
    height: 140px;
    transition: 0.25s;
    border-radius: 3px;
}

.music-item:hover {
    cursor: pointer;
}

.music-item:hover .music-item-image-container {
    box-shadow: inset 0px -5px 120px rgba(0, 0, 0, 0.486);
    cursor: pointer;
    box-shadow: 0 0 5px #480166;
}

.music-item:hover .music-options {
    opacity: 1;
}

.music-item:hover .play-icon {
    opacity: 1;
}

.music-item-info {
    width: 140px;
    text-align: center;
    align-items: center;
}

.music-options {
    width: 100%;
    height: 40px;
    margin-top: 10px;
    color: white;
    opacity: 0;
    transition: 0.25s;
}

.nav {
    width: 90%;
}

.overlay {
    background: rgba(0, 0, 0, 0.411);
    position: absolute;
    width: 100%;
    height: 100%;
}

.play-icon {
    width: 55px;
    height: 55px;
    border: none;
    border-radius: 100px;
    background: #450DA0;
    color: white;
    font-weight: bold;
    margin-top: 40px;
    text-align: center;
    opacity: 0;
    transition: 0.25s;
}

.search-form {
    width: 70%;
}

.search-form-container {
    margin: 30px auto 60px auto;
}

.track-name {
    margin-bottom: 0px;
}

/* Desktop styles*/

@media screen and (min-width: 768px) {
    .cta-title {
        font-size: 3rem;
        width: 70%;
    }

    .music-item{
        justify-content: flex-start;
    }

    
.music-item-info {
    text-align: left;
    align-items: flex-start;
}

}