@import "styles/retroTitle";
@import "styles/variables";

/* font converted using font-converter.net. thank you! */
@font-face {
    font-family: "Neon80s";
    src: url("./fonts/Neon.woff") format("woff"), url("./fonts/Neon.woff2") format("woff2");
    /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

a {
    text-decoration: none;
    color: $white;

    &:hover {
        color: $white;
        text-decoration: none;
    }
}

.artist-name {
    color: $white;
}

.audio-container {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
}

.audio-player {
    outline: none;
    width: 100%;
    height: 100%;
}

.app {
    background: $background_main;
    height: 100%;
    color: $white;
}

.custom-btn {
    border-radius: 0px 3px 3px 0px;
    -webkit-border-radius: 0px 3px 3px 0px;
    -moz-border-radius: 0px 3px 3px 0px;
    -ms-border-radius: 0px 3px 3px 0px;
    -o-border-radius: 0px 3px 3px 0px;
    background-color: $purple;
    border-color: $purple;

    &:hover {
        background-color: $purple_hover;
        border-color: $purple_hover;
    }
}

.container {
    background: $background_container;
    padding: 0px;
}

.cta-sub-title,
.cta-title {
    color: $white;
    width: 80%;
    text-align: center;
    height: auto;
}

.cta-sub-title {
    font-family: "Neon80s";
    font-size: 1.5rem;
}

.fa-play {
    margin-left: 3px;
}

.fa-heart,
.fa-ellipsis-h {
    margin-right: 10px;
}

.grid {
    padding: 0px 9px;
}

.header {
    background-image: url("./assets/headerbackground.jpg");
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    height: 50vh;
}

.input-search {
    width: 100%;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}

.music-item {
    width: 160px;
    color: $white;
    -webkit-transition: 0.25s;
    transition: 0.25s;

    &:hover {
        cursor: pointer;

        .music-item-image-container {
            -webkit-box-shadow: inset 0px -5px 120px $shadow;
            box-shadow: inset 0px -5px 120px $shadow;
            cursor: pointer;
            -webkit-box-shadow: 0 0 5px $purple;
            box-shadow: 0 0 5px $purple;
        }

        .music-options,
        .play-icon {
            opacity: 1;
        }

    }
}

.music-item-container {
    margin-bottom: 25px;
}

.music-item-image-container {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: $black;
    width: 140px;
    height: 140px;
    -webkit-transition: 0.25s;
    transition: 0.25s;
    border-radius: 3px;
}

.music-item-info {
    width: 140px;
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.music-options {
    width: 100%;
    height: 40px;
    margin-top: 10px;
    color: $white;
    opacity: 0;
    -webkit-transition: 0.25s;
    transition: 0.25s;
}

.nav {
    width: 90%;
}

.not-found {
    padding-bottom: 20%;
}

.not-found-message {
    text-align: center;
}

.logo-container {
    padding-bottom: 60px;
}

.overlay {
    background: $shadow;
    position: absolute;
    width: 100%;
    height: 100%;
}

.pagination-list {
    width: 100%;
    padding-left: 0px;
}

.pagination-list-item {
    margin: 0px 15px 0px 0px;
    padding: 5px;
    list-style: none;
    font-size: 20px;
    font-family: "Neon80s";
}

.pagination-list-current {
    color: $purple_light;
}

.pagination-list-item:hover {
    cursor: pointer;
}

.pagination-container {
    margin-top: 35px;
    padding-bottom: 15%;
}

.play-icon {
    width: 55px;
    height: 55px;
    border: none;
    border-radius: 100px;
    background: $purple;
    color: $white;
    font-weight: bold;
    margin-top: 40px;
    text-align: center;
    opacity: 0;
    -webkit-transition: 0.25s;
    transition: 0.25s;
}

.search-form {
    width: 70%;
}

.search-form-container {
    margin: 30px auto 60px auto;
}

.track-name {
    margin-bottom: 0px;
}

/* Desktop styles*/

@media screen and (min-width: 768px) {
    .cta-title {
        font-size: 3rem;
        width: 70%;
    }

    .music-item {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;

        .music-item-info {
            text-align: left;
            -webkit-box-align: start;
            -ms-flex-align: start;
            align-items: flex-start;
        }
    }
}