@import "./styles/variables";
@import "./styles/retroTitle";
@import "./styles/audioPlayer";

/* font converted using font-converter.net. thank you! */
@font-face {
    font-family: "Neon80s";
    src: url("./fonts/Neon.woff") format("woff"), url("./fonts/Neon.woff2") format("woff2");
    /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

a {
    text-decoration: none;
    color: $white;

    &:hover {
        color: $white;
        text-decoration: none;
    }
}

.artist-name {
    color: $white;
}

.app {
    background: $background_main;
    height: 100%;
    color: $white;

    .container {
        background: $background_container;
        padding: 0px;
        box-shadow: 0 0 5px $shadow;
    }

}

.custom-btn {
    border-radius: 0px 3px 3px 0px;
    -webkit-border-radius: 0px 3px 3px 0px;
    -moz-border-radius: 0px 3px 3px 0px;
    -ms-border-radius: 0px 3px 3px 0px;
    -o-border-radius: 0px 3px 3px 0px;
    background-color: $purple;
    border-color: $purple;

    &:hover {
        background-color: $purple_hover;
        border-color: $purple_hover;
    }
}

.fa-play {
    margin-left: 3px;
}

.fa-heart,
.fa-ellipsis-h {
    margin-right: 10px;
}

.header {
    background-image: url("./assets/headerbackground.jpg");
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0 5px $shadow;
    height: 320px;

    .header__sub-title,
    .header__title {
        color: $white;
        width: 80%;
        text-align: center;
        height: auto;
    }

    .header__sub-title {
        font-family: "Neon80s";
        font-size: 1.5rem;
        text-shadow: 2px 2px $shadow;
    }
}

.grid {
    margin-right: 0px;
    margin-left: 0px;
}

.grid-container {
    width: 96%;
    margin: auto;
}

.input-search {
    width: 100%;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}

.music-item {
    width: 160px;
    color: $white;
    -webkit-transition: 0.25s;
    transition: 0.25s;

    .music-item-image-container {
        -webkit-box-shadow: 0 0 5px $shadow;
        box-shadow: 0 0 5px $shadow;
    }

    &:hover {
        cursor: pointer;

        .music-item-image-container {
            -webkit-box-shadow: inset 0px -5px 120px $shadow;
            box-shadow: inset 0px -5px 120px $shadow;
            cursor: pointer;
            -webkit-box-shadow: 0 0 5px $purple;
            box-shadow: 0 0 5px $purple;
        }

        .music-options,
        .play-icon {
            opacity: 1;
        }

    }
}

.music-item-container {
    margin-bottom: 25px;
    padding: 0;

}

.music-item-image-container {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: $black;
    width: 140px;
    height: 140px;
    -webkit-transition: 0.25s;
    transition: 0.25s;
    border-radius: 3px;
}

.music-item-info {
    width: 140px;
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.music-options {
    width: 100%;
    height: 40px;
    margin-top: 10px;
    color: $white;
    opacity: 0;
    -webkit-transition: 0.25s;
    transition: 0.25s;
}

.not-found {
    padding-bottom: 20%;
}

.not-found-message {
    text-align: center;
}

.logo-container {
    padding-bottom: 60px;
}

.overlay {
    background: $shadow;
    position: absolute;
    width: 100%;
    height: 100%;
}

.pagination-list {
    width: 100%;
    padding-left: 0px;
}

.pagination-list-item {
    padding: 7px 15px;
    list-style: none;
    font-size: 20px;
    font-family: "Neon80s";
    background: $black_light;
    border-right: 1px solid $black;
    -webkit-box-shadow: 0 0 5px $shadow;
    box-shadow: 0 0 5px $shadow;
    transition: 0.15s ease-in-out;
    -webkit-transition: 0.15s ease-in-out;
    -moz-transition: 0.15s ease-in-out;
    -ms-transition: 0.15s ease-in-out;
    -o-transition: 0.15s ease-in-out;

    &:first-child {
        border-radius: 3px 0px 0px 3px;
        -webkit-border-radius: 3px 0px 0px 3px;
        -moz-border-radius: 3px 0px 0px 3px;
        -ms-border-radius: 3px 0px 0px 3px;
        -o-border-radius: 3px 0px 0px 3px;
    }

    &:last-child {
        border-radius: 0px 3px 3px 0px;
        -webkit-border-radius: 0px 3px 3px 0px;
        -moz-border-radius: 0px 3px 3px 0px;
        -ms-border-radius: 0px 3px 3px 0px;
        -o-border-radius: 0px 3px 3px 0px;
        border-right: none;
    }

    &:hover {
        cursor: pointer;
        background: $purple_hover;
    }

}

.pagination-list-current {
    background: $purple_light;
}

.pagination-container {
    margin-top: 35px;
    padding-bottom: 15%;
}

.play-icon {
    width: 55px;
    height: 55px;
    border: none;
    border-radius: 100px;
    background: $purple;
    color: $white;
    font-weight: bold;
    margin-top: 40px;
    text-align: center;
    opacity: 0;
    -webkit-transition: 0.25s;
    transition: 0.25s;
}

.search-form {
    width: 70%;
    -webkit-box-shadow: 0 0 5px $shadow;
    box-shadow: 0 0 5px $shadow;
}

.search-form-container {
    margin: 30px auto 60px auto;
}

.track-name {
    margin-bottom: 0px;
}

/* Desktop styles*/

@media screen and (min-width: 768px) {
    .header {
        height: 400px;

        .header__title {
            font-size: 3rem;
            width: 70%;
        }
    }

    .music-item {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;

        .music-item-info {
            text-align: left;
            -webkit-box-align: start;
            -ms-flex-align: start;
            align-items: flex-start;
        }
    }
}